@model chess41.Models.Puzzles
@{
    ViewBag.Title = Model.Tema.Name;
}

<link rel="stylesheet" href="~/board/css/chessboard-0.3.0.css" />
<script src="~/board/js/chessboard-0.3.0.js"></script>
<script src="~/board/js/chess.js"></script>

<style>
    .Steps {
        border: solid;
        padding: 10px;
        margin: 10px;
    }

    .NameBack {
        cursor: pointer;
        margin-bottom: 25px;
    }
</style>

<br />
<table width="100%" border="0">
    <tr>
        <td width="1%">
            <div id="board" style="width: 500px"></div>
            <br />
            <input type="button" value="Начальная" onclick="board.start()">
            <input type="button" value="Очистить" onclick="board.clear()">
            <input type="button" value="Повернуть" onclick="board.flip(); Orientation.value = board.orientation();">
        </td>
        <td width="50px"></td>
        <td valign="top">
            <h3 class="NameBack" onclick="document.location.href = '/Puzzel/PTema/' + Tema_ID">Тема: @Model.Tema.Name</h3>
            @using (Html.BeginForm("Puzzle", "Puzzel", FormMethod.Post))
            {
        <table border="0">
            <tr><td>@Html.DropDownList("ID", new SelectList(Model, "ID", "Name"))<br /><br /></td></tr>
            <tr><td><input id="PuzName" name="Name" style="width: 600px; padding: 5px;" value="Название задачи"><br /><br /></td></tr>
            <tr>
                <td>
                    Порядковый номер: <input id="OrderNumb" name="OrderNumb" style="width: 45px; padding: 5px;" value="0">&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="Steps" href="#" onclick="document.location.href = '/Puzzel/PStep/' + Puzzle_ID;">Шаги</a>
                    <br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td>Рейтинг задачи: <input id="Rating" name="Rating" style="width: 45px; padding: 5px;" value="0"></td>
                            <td align="right">
                                <button id="Btn_MPoDay_ID" onclick="MakePuzzleOfDay()" disabled> Сделать задачей дня </button>&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                    <br /><br />
                </td>
            </tr>
            <tr>
                <td align="right">
                    @Html.HiddenFor(m => m.Tema_ID)
                    <input type="hidden" id="Position" name="Position" />
                    <input type="hidden" id="Orientation" name="Orientation" />
                    <button onclick="Delete()" id="Btn_Delete_ID"> Удалить </button>&nbsp;&nbsp;
                    <input type="submit" value="Сохранить задачу" />&nbsp;&nbsp;
                </td>
            </tr>
        </table>
            }
        </td>
    </tr>
</table>
<br /><br />

<script>
    var Puzzle_ID = 0;
    var Tema_ID = @Model.Tema_ID;

    var onChange = function (oldPos, newPos) {
        Position.value = ChessBoard.objToFen(newPos);
    };
    var cfg = {
        draggable: true,
        dropOffBoard: 'trash',
        sparePieces: true,
        onChange: onChange
    };
    var board = ChessBoard('board', cfg);

    function OnPuzzleSelectionChange() {
        PuzName.value = $("#ID").find("option:selected").text();
        Puzzle_ID = $("#ID").val();

        if (Puzzle_ID == 0) {
            $('a.Steps').hide();
            $('#Btn_MPoDay_ID').text(' Сделать задачей дня ');
            $('#Btn_MPoDay_ID').attr('disabled', 'disabled');
            $('#Btn_Delete_ID').attr('disabled', 'disabled');
            board.position('8/8/8/8/8/8/8/8');
        }
        else {
            $('#Btn_Delete_ID').removeAttr('disabled');
            $('a.Steps').show();
        }
        GetPuzzleDetails();
    }

    $(function () {
        $("#ID").change(function () {
            OnPuzzleSelectionChange();
        });

        OnPuzzleSelectionChange();
    });

    function GetPuzzleDetails() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetPuzzleDetails")',
            data: { "Puzzle_ID": Puzzle_ID, "Tema_ID": Tema_ID },
            dataType: 'json',
            success: function (res) {
                //$('#Descr').html(res.Description);
                $('#Rating').val(res.Rating); 
                $('#OrderNumb').val(res.OrderNumb);
                if (Puzzle_ID > 0) {
                    var pos = res.Position;
                    var ori = res.Orientation;
                    board.position(pos); board.orientation(ori);
                    Position.value = pos; Orientation.value = ori;
                    if (res.PuzzleOfDay === 1) {
                        $('#Btn_MPoDay_ID').attr('disabled', 'disabled');
                        $('#Btn_MPoDay_ID').text(' Задача дня ');
                    }
                    else {
                        $('#Btn_MPoDay_ID').removeAttr('disabled');
                        $('#Btn_MPoDay_ID').text(' Сделать задачей дня ');
                    }
                }
            },
            error: function (emp) {
                alert('error in GetPuzzleDetails');
            }
        });
    }

    function MakePuzzleOfDay() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("MakePuzzleOfDay")',
            data: { "Puzzle_ID": Puzzle_ID, "Tema_ID": Tema_ID },
            dataType: 'json',
            success: function (res) {
                if (res === 1) {
                    $('#Btn_MPoDay_ID').attr('disabled', 'disabled');
                    $('#Btn_MPoDay_ID').text(' Задача дня ');
                }
            },
            error: function (emp) {
                alert('error in GetPuzzleDetails');
            }
        });
        return false;
    }

    function Delete() {
        PuzName.value = 'Delete';
    }

</script>

